.controlButtons {

  button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 1em;
    cursor: pointer;

    &:disabled {
      background-color: #d61515;
      cursor: not-allowed;
    }
  }
}